# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# VS Code project settings
.vscode/

# macOS system files
.DS_Store

# Environment variable files
.env

# Jupyter Notebook checkpoints (if you use notebooks)
.ipynb_checkpoints/

# Log files
*.log

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage

# Build / distribution folders
build/
dist/
*.egg-info/
